aplicacao-geekuniversity/
udemy-devops-mao-na-massa/
dev-ops/vagrant-lab/.vagrant/
dev-ops/ansible-lab/control-node/.vagrant/
dev-ops/ansible-lab/app01/.vagrant/
dev-ops/ansible-lab/db01/.vagrant/
dev-ops/jenkins-lab/.vagrant/
dev-ops/k3s-lab/.vagrant/
dev-ops/docker-lab/.vagrant/
dev-ops/swarm-lab/.vagrant/
dev-ops/sonarqube-lab/.vagrant/
dev-ops/prometheus-lab/.vagrant/
