aplicacao-geekuniversity/
udemy-devops-mao-na-massa/
containers/docker/teste/
dev-ops/teste/
dev-ops/vagrant-lab/.vagrant/
dev-ops/ansible-lab/control-node/.vagrant/
dev-ops/ansible-lab/app01/.vagrant/
dev-ops/ansible-lab/db01/.vagrant/
dev-ops/ansible-lab/db01/.provision.sh
dev-ops/ansible-lab/app01/.provision.sh
